# 打卡系統設定

# 打卡網址
CLOCK_IN_URL=http://打卡網址

# 使用者資料
USER_ID=你的員工編號
USER_PASSWORD=你的密碼

# 打卡時間範圍 (格式: HH:mm)
TIME_RANGE_START=08:30
TIME_RANGE_END=09:00

# 瀏覽器設定
# 是否隱藏瀏覽器視窗 (true/false)
BROWSER_HEADLESS=false
# 每個操作間隔毫秒數，便於觀察 (建議: 1000)
BROWSER_SLOW_MO=1000

# 打卡間隔設定
# 每次打卡之間的等待時間(毫秒) (建議: 3000)
WAIT_BETWEEN_CLOCK_IN=3000